.one-author {
    display: flex;
    flex-direction: column;
    max-width: 160px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #333;
}

.btn-group {
    margin-top: auto;
}

.btn-group button+button {
    margin-top: 5px;
}

.field {
    margin-bottom: 10px;
}